<div class="swiper relative js-swiper">
  <div class="swiper-wrapper">
    {{ slot }}
  </div>
  <a href="javascript:;" class="absolute left-0 top-0 z-50 w-50 h-full flex items-center justify-center js-swiper-btn-prev" title="Vorheriger Grund">
    {{ partial:icons/chevron-prev :class="'text-white w-30 h-auto block'" }}
  </a>
  <a href="javascript:;" class="absolute right-0 top-0 z-50 w-50 h-full flex items-center justify-center js-swiper-btn-next" title="Nächster Grund">
    {{ partial:icons/chevron-next :class="'text-white w-30 h-auto block'" }}
  </a>
</div>