<main>
  <div class="{{ if theme }} theme-{{ theme }} {{ /if }} w-full mt-20 sm:mt-0">
    <div class="container py-35 lg:py-60 xl:py-90 {{ if theme }} text-white {{ /if }}">
      {{ partial:layout/article }}
        {{ content }}
          {{ partial:components/bard }}
        {{ /content }}
      {{ /partial:layout/article }}
      {{ if shareable }}
        {{ partial:components/share :hoverClass="'hover:!text-midnight'" }}
      {{ /if }}
    </div>
  </div>
  
  {{# mobile #}}
  {{ partial:components/cards/index :class="'sm:hidden'" }}
    {{ collection:arguments sort="order" }}
      {{ partial:components/cards/tile :hasInline="false" }}
    {{ /collection:arguments }}
  {{ /partial:components/cards/index }}

  {{# screens #}}
  {{ partial:components/cards/index :class="'hidden !my-0'" }}
    {{ partial:components/swiper/index }}
      {{ collection:arguments sort="order" }}
        {{ partial:components/cards/tile :hasOverlay="false" }}
      {{ /collection:arguments }}
    {{ /partial:components/swiper/index }}
  {{ /partial:components/cards/index }}
  
</main>

