{{# <main class="pt-45 md:pt-60 xl:pt-90"> #}}
<main class="pt-45 md:pt-60 xl:pt-90">
  <section class="container">
    {{ partial:layout/article }}
      {{ content }}
        {{ partial:components/bard }}
      {{ /content }}
    {{ /partial:layout/article }}
  </section>
  <div class="bg-midnight mt-25 lg:mt-45 xl:mt-60 pt-25 md:pt-45 xl:pt-60 pb-45 lg:pb-60 xl:pb-90">
    <section class="container">
      {{ collection:testimonials confirm_web_usage:is="true" sort="order" }}
        {{ partial:components/member }}
      {{ /collection:testimonials }}
    </section>
  </div>
</main>
