<main class="container py-45 lg:py-60 xl:py-90">
  {{ partial:layout/article }}
  
    {{ content }}

      {{ if type == 'text' }}
        {{ text }}
      {{ /if }}

      {{ if type == 'video'}}
        {{ partial:components/video }}
      {{ /if }}

      {{ if type == 'collapsible' }}
        {{ partial:components/collapsible }}
      {{ /if }}

      {{ if type == 'text_image' }}
        {{ partial:components/text_image }}
      {{ /if }}

    {{ /content }}

    {{ if shareable }}
      {{ partial:components/share }}
    {{ /if }}

  {{ /partial:layout/article }}
</main>
