<main class="py-45 lg:py-60 xl:py-90">
  <div class="container">
    {{ partial:layout/article }}
    
      {{ content }}

        {{ if type == 'text' }}
          {{ text }}
        {{ /if }}

        {{ if type == 'video'}}
          {{ partial:components/video }}
        {{ /if }}

        {{ if type == 'collapsible' }}
          {{ partial:components/collapsible }}
        {{ /if }}

        {{ if type == 'text_image' }}
          {{ partial:components/text_image }}
        {{ /if }}

      {{ /content }}

      {{ if shareable }}
        {{ partial:components/share }}
      {{ /if }}

    {{ /partial:layout/article }}
  </div>

  {{# mobile #}}
  {{ partial:components/arguments :class="'lg:hidden'" }}
    {{ collection:arguments sort="order" }}
      {{ partial:components/argument-tile }}
    {{ /collection:arguments }}
  {{ /partial:components/arguments }}

  {{# screens #}}
  {{ partial:components/arguments :class="'hidden'" }}
    {{ collection:arguments sort="order" }}
      {{ partial:components/argument-tile }}
    {{ /collection:arguments }}
    {{ collection:arguments sort="order" }}
      {{ partial:components/argument-overlay }}
    {{ /collection:arguments }}
  {{ /partial:components/arguments }}
</main>
