<main class="py-45 lg:py-60 xl:py-90">
  <div class="container">
    {{ partial:layout/article }}
    
      {{ content }}
        {{ partial:components/bard }}
      {{ /content }}

      {{ if shareable }}
        {{ partial:components/share }}
      {{ /if }}

    {{ /partial:layout/article }}
  </div>

  {{# mobile #}}
  {{ partial:components/cards/index :class="'sm:hidden'" }}
    {{ collection:arguments sort="order" }}
      {{ partial:components/cards/tile :hasInline="'true'" }}
    {{ /collection:arguments }}
  {{ /partial:components/cards/index }}

  {{# screens #}}
  {{ partial:components/cards/index :class="'hidden'" }}
    {{ partial:components/swiper/index }}
      {{ collection:arguments sort="order" }}
        {{ partial:components/cards/tile :hasOverlay="'true'" }}
      {{ /collection:arguments }}
    {{ /partial:components/swiper/index }}
    {{ collection:arguments sort="order" }}
      {{ partial:components/cards/overlay }}
    {{ /collection:arguments }}
  {{ /partial:components/cards/index }}

  <div class="card-argument-overlay-bg bg-white hidden sm:block h-full w-full fixed left-0 top-0 opacity-50 z-30"></div>

</main>

