<main class="py-45 lg:py-60 xl:py-90">
  <div class="container">
    {{ partial:layout/article }}
    
      {{ content }}

        {{ if type == 'text' }}
          {{ text }}
        {{ /if }}

        {{ if type == 'video'}}
          {{ partial:components/video }}
        {{ /if }}

        {{ if type == 'collapsible' }}
          {{ partial:components/collapsible }}
        {{ /if }}

        {{ if type == 'text_image' }}
          {{ partial:components/text_image }}
        {{ /if }}

      {{ /content }}

      {{ if shareable }}
        {{ partial:components/share }}
      {{ /if }}

    {{ /partial:layout/article }}
  </div>

  <div class="grid grid-cols-12 text-white items-center relative mt-150 mb-50">


    {{ collection:arguments sort="order" }}
      {{ partial:components/argument-tile }}
    {{ /collection:arguments }}
    
    {{ collection:arguments sort="order" }}
      {{ partial:components/argument-overlay }}
    {{ /collection:arguments }}

  </div>


</main>

<script>
  // on click 'data-tile-*' show the corresponding 'data-overlay-*'
  document.querySelectorAll('[data-tile]').forEach(function(tile) {
    tile.addEventListener('click', function() {

      // hide all 'data-overlay-item'
      document.querySelectorAll('[data-overlay-item]').forEach(function(item) {
        item.classList.remove('is-active');
      });

      const overlayItem = document.querySelector('[data-overlay-item="'+tile.dataset.tile+'"]');
      overlayItem.classList.add('is-active');
    });
  });

  // on click outside of 'data-tile' hide all 'data-overlay-item'
  document.addEventListener('click', function(event) {
    if (!event.target.closest('[data-tile]')) {
      document.querySelectorAll('[data-overlay-item]').forEach(function(item) {
        item.classList.remove('is-active');
      });
    }
  });

  // on esc hide all 'data-overlay-item'
  document.addEventListener('keydown', function(event) {
    if (event.key === 'Escape') {
      document.querySelectorAll('[data-overlay-item]').forEach(function(item) {
        item.classList.remove('is-active');
      });
    }
  });

</script>
