<a 
  href="javascript:;" 
  title="Menu anzeigen / verbergen"
  class="fixed z-50 top-20 left-20 flex justify-center items-center sm:hidden w-32 h-20 btn-menu"
  data-menu-btn>
  {{ partial:icons/cross :class="'icon-cross'" }}
  {{ partial:icons/burger :class="'icon-burger'" }}
</a>
<div class="menu" data-menu>
  <nav class="container">
    <ul class="sm:flex sm:justify-between sm:border-b-12 sm:border-cloud-mist sm:py-8">
      {{ partial:menu/item :text="'Home'" :url="'/'" target="_self" class="sm:hidden" }}
      {{ nav:collection:pages sort="order" is_menu:is="1" }}
        {{ partial:menu/item :text="title" :url="url" target="_self" }}
      {{ /nav:collection:pages }}
    </ul>
    {{ partial:menu/privacy :class="'sm:hidden'" }}
    {{ partial:components/social_media :class="'mt-20 sm:hidden'" }}
  </nav>
</div>