<a 
  href="/newsletter" 
  class="newsletter-button block font-bold text-white text-center bg-serene-sea hover:bg-midnight transition-colors xl:leading-none xl:bg-midnight xl:hover:bg-cloud-mist xl:hover:text-midnight py-15 xl:py-10 xl:px-10 xl:absolute xl:right-0 xl:top-1/2 xl:-translate-y-1/2 xl:-rotate-90 xl:translate-x-[52px] xl:w-180 xl:z-50 {{ if url | contains('newsletter') }} hidden {{ /if }}" 
  title="Newsletter Anmeldung">
  <span class="xl:block">Anmeldung</span>
  <span class="xl:block">Newsletter</span> 
</a>
<footer>
  <div class="bg-cloud-mist w-full py-30">
    <div class="container md:grid md:grid-cols-12 md:gap-20 xl:gap-50 xl:gap-y-30">
      {{ collection:supporters sort="order" }}
      {{ partial:components/supporter }}
      {{ /collection:supporters }}
    </div>
  </div>
  <div class="bg-midnight w-full font-light text-base md:text-md xl:text-lg">
    <div class="container text-misty-blue py-25 md:py-35 xl:py-45 md:flex md:justify-between md:items-start">
      <address class="not-italic ">
        <strong>Komitee Pro Flughafen</strong><br>
        Weinbergstrasse 25<br>
        8001 Zürich<br>
        <a href="mailto:info@pisten-verlaengerung.ch" title="E-Mail" class="text-misty-blue hover:text-white transition-colors">
          info@pisten-verlaengerung.ch
        </a> 
      </address>
      <div>
        {{ partial:menu/privacy }}
        {{# {{ partial:components/social_media :marginTop="'mt-30'" :hoverTextColor="'text-white'" }} #}}
      </div>
    </div>
  </div>
</footer>