/* * {
  background: rgb(0 100 0 / 0.05) !important;
} */

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  @apply flex min-h-screen flex-col;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  @apply flex-1;
}

.container {
  @apply max-w-[1200px] px-20 md:px-40 mx-auto;
}

.content a {
  @apply underline underline-offset-8 decoration-1 hover:no-underline;
}

.content ul {
  @apply list-disc m-0 p-0 ml-24 mb-20 md:mb-24 xl:mb-42;
}

.content ul li  {
  @apply list-item
}

.content ul li p {
  @apply inline-block !mb-0;
}

.content h2:not(.news h2) {
  @apply leading-[1.15] text-3xl md:text-6xl xl:text-7xl font-bold mb-24 xl:mb-42;
}

.content h3 {
  @apply font-bold mb-0;
}

strong {
  @apply font-bold;
}

p {
  @apply mb-20 md:mb-24 xl:mb-42
}

p + ul {
  @apply !mt-20 md:!mt-24 xl:!mt-42
}

p:last-child,
p:last-of-type {
  @apply !mb-0;
}

.text-image p {
  @apply mb-10 md:mb-15 xl:mb-15
}

.word-break {
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

.swiper {
  width: 100%;
}