/* * {
  background: rgb(0 100 0 / 0.05) !important;
} */

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  @apply flex min-h-screen flex-col;
  -webkit-font-smoothing: antialiased;
}

main {
  @apply flex-1;
}

.container {
  @apply max-w-[1200px] px-20 md:px-40 mx-auto;
}

strong {
  @apply font-bold;
}

p {
  @apply mb-20 md:mb-24 xl:mb-32
}
