/* * {
  background: rgb(0 100 0 / 0.05) !important;
} */

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  @apply flex min-h-screen flex-col;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  @apply flex-1;
}

.container {
  @apply max-w-[1200px] px-20 md:px-40 mx-auto;
}

.content a {
  @apply hover:underline hover:underline-offset-8 hover:decoration-1;
}

.content h2:not(.news h2) {
  @apply text-4xl md:text-5xl xl:text-6xl font-bold mb-24 xl:mb-42;
}

.content h3 {
  @apply font-bold mb-0;
}

strong {
  @apply font-bold;
}

p {
  @apply mb-20 md:mb-24 xl:mb-42
}

p:last-child,
p:last-of-type {
  @apply !mb-0;
}

.text-image p {
  @apply mb-10 md:mb-15 xl:mb-15
}

.masonry-grid-item {
  width: calc(50% - 12px);
}

.masonry-grid-sizer {
  width: calc(50% - 12px);
}

.masonry-gutter-sizer {
  @apply w-24;
}

/* Cards */
.card-tile {

}

.card-argument-overlay.is-active {
  @apply block opacity-100 z-50 transition-all;
}
