<ul class="flex justify-start md:justify-end items-end mt-30 {{ class }}">
  <li class="block mr-16">
    <a href="https://facebook.com" target="_blank" rel="noopener" class="text-misty-blue hover:text-white transition-colors" title="Folgen Sie uns auf Facebook">
      {{ partial:icons/facebook :class="'h-23 xl:h-27'" }}
    </a>
  </li>
  <li class="block mr-16">
    <a href="https://instagram.com" target="_blank" rel="noopener" class="text-misty-blue hover:text-white transition-colors" title="Folgen Sie uns auf Instagram">
      {{ partial:icons/instagram :class="'h-22 xl:h-26'" }}
    </a>
  </li>
  <li class="block">
    <a href="https://twitter.com" target="_blank" rel="noopener" class="text-misty-blue hover:text-white transition-colors" title="Folgen Sie uns auf Twitter">
      {{ partial:icons/twitter :class="'h-22 xl:h-25'" }}
    </a>
  </li>
</ul>