<!doctype html>
<html lang="{{ site:short_locale }}">
<head>
<meta charset="utf-8">
<title>{{ title ?? site:name }} &bull; Kampagne «Ja zur Pistenverlängerung»</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:title" content="{{ title ?? site:name }} &bull; Kampagne «Ja zur Pistenverlängerung»">
<meta property="og:description" content="Erfahren Sie, wie durch Pistenverlängerungen mehr Sicherheit, Pünktlichkeit und Nachtruhe gewährleistet werden, ohne die Kapazität zu beeinträchtigen oder auf Steuergelder zurückzugreifen. Besuchen Sie uns bald wieder, um weitere Informationen zu erhalten.">
<meta property="og:image" content="{{ site_url }}img/pistenverlaengerung-og.png">
<meta property="og:url" content="{{ site_url }}{{ current_url }}">
<meta property="og:type" content="website">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ title ?? site:name }} &bull; Kampagne «Ja zur Pistenverlängerung»">
<meta name="twitter:description" content="Erfahren Sie, wie durch Pistenverlängerungen mehr Sicherheit, Pünktlichkeit und Nachtruhe gewährleistet werden, ohne die Kapazität zu beeinträchtigen oder auf Steuergelder zurückzugreifen. Besuchen Sie uns bald wieder, um weitere Informationen zu erhalten.">
<meta name="twitter:image" content="{{ site_url }}img/pistenverlaengerung-og.png">
<meta name="csrf-token" content="{{ csrf_token }}">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">
{{ vite src="resources/js/app.js" }}
</head>
<body class="font-light leading-7 md:leading-tight text-midnight text-xl md:text-2xl xl:text-3xl">
  <div class="hidden md:block fixed top-10 right-10">
    {{ partial:components/social_media :hoverTextColor="'text-misty-blue'" }}
  </div>
  {{ partial:layout/header }}
  {{ template_content }}
  {{ partial:layout/footer }}
</body>
</html>
