<div 
  class="card-argument-overlay theme-{{theme}} absolute left-[50%] -translate-x-1/2 w-[70%] md:w-[60%] xl:w-[50%] 2xl:w-[40%] 4xl:w-[35%] aspect-auto py-30 px-25 xl:py-45 xl:pt-30 xl:px-35 3xl:py-50 3xl:pt-30 3xl:px-40 4xl:pt-50 4xl:px-50 opacity-0 -z-10" 
  data-overlay-item="{{ card_slug }}">
  <div class="relative">
    {{ partial:icons/cross :class="'absolute right-0 top-0 cursor-pointer'" }}
    <h3 class="text-6xl xl:text-7xl 3xl:text-8xl font-bold mb-25">{{ card_title }}</h3>
    <div class="text-xl sm:text-3xl md:text-4xl xl:text-5xl">{{ card_text }}</div>
    <a href="{{ url }}" class="text-white text-xl sm:text-3xl md:text-4xl xl:text-5xl font-bold inline-block mt-20 hover:underline hover:underline-offset-8 hover:decoration-1">Mehr</a>
  </div>
</div>
