{{ if hasInline || hasOverlay }}
  <div 
    class="swiper-slide sm:aspect-square w-full h-full cursor-pointer theme-{{theme}} sm:hover:brightness-90" 
    data-tile="{{ card_slug }}">
    {{ partial:icons/cards/{{card_slug}} :class="'w-full h-auto hidden sm:block'" }}
    {{ partial:icons/cards/sm/{{card_slug}} :class="'w-full h-auto block sm:hidden'" }}
  </div>
{{ else }}
  <a href="{{ url }}" title="{{ card_title }}" class="swiper-slide sm:aspect-square w-full h-full cursor-pointer theme-{{theme}} sm:hover:brightness-90">
    {{ partial:icons/cards/{{card_slug}} :class="'w-full h-auto hidden sm:block'" }}
    {{ partial:icons/cards/sm/{{card_slug}} :class="'w-full h-auto block sm:hidden'" }}
  </a>
{{ /if }}

{{ if hasInline }}
  {{ partial:components/cards/inline }}
{{ /if }}
